name: Task-Service Security Scan with Snyk

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Install Snyk CLI
        run: npm install -g snyk

      - uses:  actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }} 
        with:
         args: --all-projects 
        
      - name: Upload Snyk results to Snyk dashboard
        uses: snyk monitor 
        with:
            args: --all-projects
        env:
         SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}



         