name: Task-Service CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3 
        with:
          node-version: '20'  

        
      - name: Install dependencies
        run: npm install
        working-directory: ./backend/task-service

         # Stap 4: Run Snyk to check for vulnerabilities
      # - name: Run Snyk to check for vulnerabilities
      #   uses: snyk/actions/node@master
      #   continue-on-error: true # Zorg ervoor dat de pipeline niet faalt bij een Snyk-fout
      #   env:
      #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      #     working-directory: ./backend/task-service



      # - name: Authenticate with Snyk
      #   run: npx snyk auth ${{ secrets.SNYK_TOKEN}}  
      #   working-directory: ./backend/task-service

      # - name: Run Snyk Test
      #   run: npx snyk test  
      #   working-directory: ./backend/task-service

      # Authenticate with Snyk using GitHub Action
      # - name: Run Snyk to check for vulnerabilities
      #   uses: snyk/actions/setup@master
      #   continue-on-error: true
      #   env:
      #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

   

      # - name: Run Snyk to check for vulnerabilities
      #   run: snyk test
      #   working-directory: ./backend/task-service
      #   env:
      #    SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }} 
      

      - name: Start server
        run: node index.js > out.log 2> err.log &
        working-directory: ./backend/task-service

      - name: Check content
        run: ls
        working-directory: ./backend/task-service

      - name: Wait for server
        run: sleep 10

      # - name: check server
      #   run: curl 127.0.0.1:3000


      - name: Run tests
        run: npm test
        working-directory: ./backend/task-service

     


      - name: Run Newman API Tests
        run: |
          npm install -g newman
          newman run ./backend/task-service/tests/postman/Task-service-Endpoints-tests.postman_collection.json \
          -e ./backend/task-service/tests/postman/Task-service-Endpoints-tests.postman_environment.json ./backend/task-service/tests/postman &
      - name: Wait for server
        run: sleep 5
        
      # - name: check server
      #   run: curl 127.0.0.1:3000

      - name: check content file
        run: cat  out.log 
        working-directory: ./backend/task-service

      - name: check content file
        run: cat  err.log
        working-directory: ./backend/task-service



      # - name: check content file
      #   run: cat ./backend/task-service/tests/postman/Task-service-Endpoints-tests.postman_environment.json


      # - name: Lint code
      #   run: npm run lint
      #   working-directory: ./backend

     # Bouw de Docker image
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
          registry: ghcr.io                    

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/task-service:latest ./backend/task-service
          
      # Push de Docker image naar de GitHub Container Registry
      - name: Push Docker image to GitHub Container Registry
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/task-service:latest
  
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        with:
                app-name: 'task-service'
                publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
                images: 'ghcr.io/${{ github.repository_owner }}/task-service:latest'
                 